main {
  margin: 5rem auto;
  max-width: 800px;
  background-color: #F8FAFC;
  padding: 1rem 2rem;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #333;
}

h1 {
  margin: 0.5rem 0;
}

form, article {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8FAFC;
  border: 1px solid #18181B;
  margin: 2rem 0;
}

form {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #18181B;
  margin-bottom: 1rem;
}

form label {
  position: absolute;
  left: -10000px;
}

.new-todo {
  width: 100%;
  padding-right: 30px;
}

.submit {
  background-color: #F8FAFC;
  color: gray;
}

.submit:focus, .submit:hover {
  background-color: limegreen;
  color: #F8FAFC;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  min-width: 50px;
  min-height: 50px;
  border: 1px solid #18181B;
  border-radius: 10%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trash  {
  background-color: #F8FAFC;
  color: #EF4444;
}

.trash:focus, .trash:hover {
  filter: brightness(120%);
} 